<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Batteries
    </div>
    <div class="card-block">
      <table class="table table-sm">
        <thead>
          <tr>
          <th>Room</th>
          <th>Device</th>
          <th>Battery Level</th>
          <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IIT1-6-59</td>
            <td> Temperature & Humidity Sensor</td>
            <td><label id="IIT1659TempHumi"></label></td>
            <td>
              <label id="IIT1659TempHumiStatus" class="badge badge-success"></label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Light Sensor</td>
            <td><label id="IIT1659Light"></label></td>
            <td>
              <label id="IIT1659LightStatus" class="badge badge-success"></label>
            </td>
          </tr>
          
          <tr>
            <td>IIT1-6-60</td>
            <td>Temperature & Humidity Sensor</td>
            <td><label id="IIT1660TempHumi"></label></td>
            <td>
              <label id="IIT1660TempHumiStatus" class="badge badge-success"></label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Light Sensor</td>
            <td><label id="IIT1660Light"></label></td>
            <td>
              <label id="IIT1660LightStatus" class="badge badge-success"></label>
            </td>
          </tr>

          <tr>
            <td>IIT1-6-61</td>
            <td>Temperature & Humidity Sensor</td>
            <td><label id="IIT1661TempHumi"></label></td>
            <td>
              <label id="IIT1661TempHumiStatus" class="badge badge-success"></label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Light Sensor</td>
            <td><label id="IIT1661Light"></label></td>
            <td>
              <label id="IIT1661LightStatus" class="badge badge-success"></label>
            </td>
          </tr>

          <tr>
            <td>IIT3-7-46</td>
            <td>Temperature & Humidity Sensor</td>
            <td><label id="IIT3746TempHumi"></label></td>
            <td>
              <label id="IIT3746TempHumiStatus" class="badge badge-success"></label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Light Sensor</td>
            <td><label id="IIT3746Light"></label></td>
            <td>
              <label id="IIT3746LightStatus" class="badge badge-success"></label>
            </td>
          </tr>

          <tr>
            <td>IIT3-7-50/2</td>
            <td>Temperature & Humidity Sensor</td>
            <td><label id="IIT37502TempHumi"></label></td>
            <td>
              <label id="IIT37502TempHumiStatus" class="badge badge-success"></label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Light Sensor</td>
            <td><label id="IIT37502Light"></label></td>
            <td>
              <label id="IIT37502LightStatus" class="badge badge-success"></label>
            </td>
          </tr>

          <tr>
            <td>IIT3-8-32</td>
            <td>Temperature & Humidity Sensor</td>
            <td><label id="IIT3832TempHumi"></label></td>
            <td>
              <label id="IIT3832TempHumiStatus" class="badge badge-success"></label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Light Sensor</td>
            <td><label id="IIT3832Light"></label></td>
            <td>
              <label id="IIT3832LightStatus" class="badge badge-success"></label>
            </td>
          </tr>

          <tr>
            <td>IoT Lab</td>
            <td>Temperature & Humidity Sensor</td>
            <td><label id="IoTLabTempHumi"></label></td>
            <td>
              <label id="IoTLabTempHumiStatus" class="badge badge-success"></label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Light Sensor</td>
            <td><label id="IoTLabLight"></label></td>
            <td>
              <label id="IoTLabLightStatus" class="badge badge-success"></label>
            </td>
          </tr>

          <tr>
            <td>Big Data & Analytics Hub</td>
            <td>Temperature & Humidity Sensor</td>
            <td><label id="BigDataTempHumi"></label></td>
            <td>
              <label id="BigDataTempHumiStatus" class="badge badge-success"></label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Light Sensor</td>
            <td><label id="BigDataLight"></label></td>
            <td>
              <label id="BigDataLightStatus" class="badge badge-success"></label>
            </td>
          </tr>

        </tbody>
      </table>

      <!--<table>
        <tbody>
          <tr *ngFor="let data of retrievedData">
            <td>{{data.Device_ID}}</td>
            <td>{{data.Value}}</td>
            <td>{{data.Date}}</td>
          </tr>
        </tbody>
        
      </table>-->
          <!--<ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>-->
    </div>
  </div>