<table>
  <tr>
    <td >
        <button class="btn btn-primary" (click)="minusButton()"><i class="fa fa-calendar-minus-o fa-lg"></i></button>
    </td>
      <td style="width:75%; padding: 0 5% 0;">
        <div class="input-group">
          <input class="form-control" style="float:none" ngx-mydatepicker name="mydate"
                [(ngModel)]="model" [options]="myOptions" #dp="ngx-mydatepicker" 
                (dateChanged)="onDateChanged($event)" value="{{displaydata}}"/>
          <span class="input-group-btn">
            <button [disabled]="selectdorw === 'weeks'" type="button" class="btn btn-default" (click)="dp.toggleCalendar()"><i class="fa fa-calendar fa-lg"></i></button>
          </span>
        </div> 
      </td>
    <td>
      <button class="btn btn-primary" (click)="plusButton()"><i class="fa fa-calendar-plus-o fa-lg"></i></button>
    </td>
    <td  style="width:55%;padding: 0 5% 0;" >
      <button [disabled]="selectdorw === 'days'" class="btn btn-primary" (click)="dayClick()">Day</button>
      <button [disabled]="selectdorw === 'weeks'" class="btn btn-primary" (click)="weekClick()">Week</button>
    </td>
    <td>
  </tr>
</table>
<!--SIDE BAR-->
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <span class="d-md-down-none">Location</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <!--<div class="dropdown-header text-center"><strong>Account</strong></div>-->
        <a class="dropdown-item" href="#"><i class="fa fa-bell-o" (click)="testFunction()"></i> 1-6-59<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> iot<span class="badge badge-success">42</span></a>
      </div>
    </li>
  </ul>
<br>
    

<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Temperature
        <!--<div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>-->
      <i class="fa fa-battery-full pull-right"> {{batteryTempHumi}}%</i>
      </div>
      <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart
            [datasets]="tempDataset"
            [labels]="tempLabels"
            [options]="options"
            [chartType]="'line'"
            [colors]="tempColour">
          </canvas>
          <br/>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Light
        <!--<div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>-->
        <i class="fa fa-battery-full pull-right"> {{batteryLight}}%</i>
      </div>
      <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart
            [datasets]="lightDataset"
            [labels]="lightLabels"
            [options]="options"
            [chartType]="'line'"
            [colors]="lightColour">>
          </canvas>
          <br/>
        </div>
      </div>
    </div> 
    <div class="card">
      <div class="card-header">
        Humidity
        <!--<div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>-->
        <i class="fa fa-battery-full pull-right"> {{batteryTempHumi}}%</i>
      </div>
      <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart
            [datasets]="humiDataset"
            [labels]="humiLabels"
            [options]="options"
            [chartType]="'line'"
            [colors]="humiColour">>
          </canvas>
          <br/>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        CO2
        <!--<div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>-->
      </div>
      <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart
            [datasets]="co2Dataset"
            [labels]="co2Labels"
            [options]="options"
            [chartType]="'line'"
            [colors]="co2Colour">>
          </canvas>
          <br/>
        </div>
      </div>
    </div>
    

  </div>
</div>