<!-- <label class="switch switch-sm switch-text switch-info pull-left m-b-0">
  <input class="switch-input" type="checkbox">
  <span class="switch-label" data-off="Off" data-on="On"></span>
  <span class="switch-handle"></span>
</label> -->

<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="onClick('auto')">Auto</button>
        <button class="btn btn-primary" (click)="onClick('manual')">Manual</button>
    </div>
</div>

<div class="card-columns cols-2">
    <app-auto-control *ngIf="mode === 'auto'"></app-auto-control>
    <app-manual-control *ngIf="mode === 'manual'"></app-manual-control>
</div>