<div class="card">
    <div class="card-header">
        Temperature
        <!--<div class="card-actions">
        <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
        </a>
        </div>-->
    </div>
    <div class="card-block">
        <div class="chart-wrapper">
        <canvas baseChart
            [datasets]="tempDataset"
            [labels]="tempLabels"
            [options]="options"
            [chartType]="'line'"
            [colors]="tempColour">
        </canvas>
        <br/>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        Mock Data
    </div>

    <div class="card-block">

        <form action="" class="form-horizontal " (ngSubmit)="onSubmit()">

            <div class="form-group row">
            <label class="col-md-3 form-control-label">Data</label>

            <div class="col-md-9">

                <label class="radio-inline" for="inline-radio1">
                    <input id="inline-radio1" name="inline-radios" type="radio" value="light" [(ngModel)]="data.type" required> Light
                </label>

                <label class="radio-inline" for="inline-radio2">
                    <input id="inline-radio2" name="inline-radios" type="radio" value="temperature" [(ngModel)]="data.type" required> Temperature
                </label>

            </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 form-control-label" for="input-large">Value</label>
                <div class="col-sm-6">
                    <input class="form-control input-lg" id="value" name="value" [(ngModel)]="data.value" placeholder="Mock Value" type="text">
                </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
            </div>
            
        </form>
    </div>

</div>

    
<div class="card">
    <div class="card-header">
        Light
        <!--<div class="card-actions">
        <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
        </a>
        </div>-->
    </div>
    <div class="card-block">
        <div class="chart-wrapper">
        <canvas baseChart
            [datasets]="tempDataset"
            [labels]="tempLabels"
            [options]="options"
            [chartType]="'line'"
            [colors]="tempColour">
        </canvas>
        <br/>
        </div>
    </div>
</div>