<table>
  <tr>
    <td>
      Select Date:
    </td>
    <td style="width:75%; padding:0 5% 0;">
      <form #myForm="ngForm" novalidate>    
        <my-date-picker name="mydate" [options]="myDatePickerOptions"
        (dateChanged)="onDateChanged($event)" required></my-date-picker>
      </form>
    </td>
    <!-- <td>
      <button class="btn btn-primary" (click)="refreshChart()">Refresh</button>
    </td>
    <td>
       <button class="btn btn-primary" (click)="retrieveTemp()">test</button> 
    </td> -->
  </tr>
</table>

<br>

<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Temperature
        <!--<div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>-->
      </div>
      <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart
            [datasets]="tempDataset"
            [labels]="tempLabels"
            [options]="options"
            [chartType]="'line'">
          </canvas>
          <br/>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Humidity
        <!--<div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>-->
      </div>
       <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart
            [datasets]="humiDataset"
            [labels]="humiLabels"
            [options]="options"
            [chartType]="'line'">
          </canvas>
          <br/>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        CO2
        <!--<div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>-->
      </div>
      <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart
            [datasets]="co2Dataset"
            [labels]="tempLabels"
            [options]="options"
            [chartType]="'line'">
          </canvas>
          <br/>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Light
        <!--<div class="card-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>-->
      </div>
      <div class="card-block">
        <div class="chart-wrapper">
          <canvas baseChart
            [datasets]="lightDataset"
            [labels]="lightLabels"
            [options]="options"
            [chartType]="'line'">
          </canvas>
          <br/>
        </div>
      </div>
    </div> 

  </div>
</div>