<div>
  <font size="4"> <strong>Current Locations and Sessions:</strong> {{currentLocation}} at {{currentSession}}</font>
</div>
<br>
<table>
  <tr>

    <td style="width:45%; padding: 0 5% 0;">
      <div class="input-group">
        <input class="form-control" style="float:none" ngx-mydatepicker name="mydate"
              [(ngModel)]="model" [options]="myOptions" #dp="ngx-mydatepicker" 
              (dateChanged)="onDateChanged($event)" value="{{displaydata}}" style="background-color: #FFFFFF;  " readonly />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()" style="border: 1px solid #C2C3C4" ><i class="fa fa-calendar fa-lg"></i></button>
        </span>
      </div> 
    </td>
    <td style="width:15%;">
      <div class="btn-group float-left" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle><strong>Locations</strong></button>
        <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
          <a class="dropdown-item" (click)="GetDeviceID('IIT1-6-59')" >IIT1-6-59</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT1-6-60')" >IIT1-6-60</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT1-6-61')" >IIT1-6-61</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT3-7-46')" >IIT3-7-46</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT3-7-50/2')" >IIT3-7-50/2</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT3-8-32')" >IIT3-8-32</a>
          <a class="dropdown-item" (click)="GetDeviceID('IoTLab')" >IoT Lab</a>
          <a class="dropdown-item" (click)="GetDeviceID('BigData')" >Big Data & Analytics Hub</a>
        </div>
      </div>
    </td>
    <td style="width:15%;">
      <div class="btn-group float-left" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle><strong>Sessions</strong></button>
        <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
          <a class="dropdown-item" (click)="GetTime('Morning 8-10')" >Morning 8-10</a>
          <a class="dropdown-item" (click)="GetTime('Morning 10-12')" >Morning 10-12</a>
          <a class="dropdown-item" (click)="GetTime('Afternoon 12-14')" >Afternoon 12-14</a>
          <a class="dropdown-item" (click)="GetTime('Afternoon 14-16')" >Afternoon 14-16</a>
          <a class="dropdown-item" (click)="GetTime('Afternoon 16-18')" >Afternoon 16-18</a>
        </div>
      </div>
    </td>
    

  </tr>
</table>


<br>
<div class="animated fadeIn">
  
    <div class="card" style="position: relative; height:45vh" >
      <div class="card-header">
        Facial Analytics
      </div>
      <div class="card-block" >
        <div class="chart-wrapper" >
          <canvas baseChart class="chart" height="400" width="1922" 
            [datasets]="faceData"
            [labels]="faceLabels"
            [options]="optionsLineChart"
            [chartType]="'scatter'"
            [legend]="true"
            [colors]="faceColour"
          >           
          </canvas>
          <br/>
        </div>
      
    </div>

    
  </div>
</div>
