<div class ="animated fadeIn">
  <div class="row">
    <div class="col-md-3 col-sm-3" >
      <div class="social-box" >
        <i class="fa fa-sun-o bg-info"><span style="font-family: Calibri" class="h2"> Temperature</span></i>
        <ul>
            <li>
              <strong class="text-info"><span class="text-info">Max:</span> {{maxTemp}} °C</strong>
              <span >{{maxTempDate}}</span>
            </li>
            <li>
              <strong class="text-info" ><span class="text-info">Min:</span> {{minTemp}} °C</strong>
              <span >{{minTempDate}}</span>
      
            </li>
        </ul>
        <br>
          <div class="card-block p-0 clearfix">
          <div class="h8 text-info mb-0 pt-3">Avg:<strong  class="h4"> {{avgTemp}} °C</strong></div>   
          </div>
        <br>
      </div>
    </div>
    <div class="col-md-3 col-sm-3" >
      <div class="social-box" >
        <i class="icon-drop bg-primary" ><span style="font-family: Calibri" class="h2"> Humidity</span></i>
        <ul>
            <li>
                <strong class="text-primary"><span class="text-primary">Max:</span> {{maxHumi}} %</strong>
                <span>{{maxHumiDate}} </span>
            </li>
            <li>
                <strong class="text-primary"><span class="text-primary">Min:</span> {{minHumi}} %</strong>
                <span>{{minHumiDate}}</span>
            </li>
        </ul>
        <br>
          <div class="card-block p-0 clearfix"></div>
          
          <div class="h8 text-primary mb-0 pt-3">Avg:<strong class="h4"> {{avgHumi}} % </strong></div>   
        
        <br>
      </div>
    </div>
    <div class="col-md-3 col-sm-3" >
      <div class="social-box" >
        <i class="fa fa-lightbulb-o bg-warning"> <span style="font-family: Calibri" class="h2"> Light</span></i>
        <ul>
            <li>
                <strong class="text-warning"><span class="text-warning">Max:</span> {{maxLight}} lux</strong>
                <span>{{maxLightDate}}</span>
            </li>
            <li>
                <strong class="text-warning" ><span class="text-warning">Min:</span> {{minLight}} lux</strong>
                <span>{{minLightDate}}</span>
            </li>
        </ul>
        <br>
          <div class="card-block p-0 clearfix">
          <div class="h8 text-warning mb-0 pt-3">Avg:<strong  class="h4"> {{avgLight}} lux</strong></div>   
          </div>
        <br>
      </div>
    </div>
    <div class="col-md-3 col-sm-3" >
      <div class="social-box" >
        <i class="fa fa-cloud bg-danger" ><span style="font-family: Calibri" class="h2"> CO2</span></i>
        <ul>
            <li>
                <strong class="text-danger"><span class="text-danger">Max:</span> {{maxCO2}} ppm</strong>
                <span>{{maxCO2Date}}</span>
            </li>
            <li>
                <strong class="text-danger"><span class="text-danger">Min:</span> {{minCO2}} ppm</strong>
                <span>{{minCO2Date}}</span>
            </li>
        </ul>
        <br>
          <div class="card-block p-0 clearfix">
          <div class="h8 text-danger mb-0 pt-3">Avg:<strong  class="h4"> {{avgCO2}} ppm</strong></div>   
          </div>
        <br>
      </div>
    </div>
    
  </div>
</div>

<div>
  <font size="4"> <strong>Current Location:</strong> {{currentLocation}} </font>
</div>
<br>
<table>
  <tr>
    <td style="width:25%;">
      <div class="btn-group float-left" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle><strong>Locations</strong></button>
        <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
          <a class="dropdown-item" (click)="GetDeviceID('IIT1-6-59')" >IIT1-6-59</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT1-6-60')" >IIT1-6-60</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT1-6-61')" >IIT1-6-61</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT3-7-46')" >IIT3-7-46</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT3-7-50/2')" >IIT3-7-50/2</a>
          <a class="dropdown-item" (click)="GetDeviceID('IIT3-8-32')" >IIT3-8-32</a>
          <a class="dropdown-item" (click)="GetDeviceID('IoTLab')" >IoT Lab</a>
          <a class="dropdown-item" (click)="GetDeviceID('BigData')" >Big Data & Analytics Hub</a>
        </div>
      </div>
    </td>
    <td >
      <button class="btn btn-primary" (click)="minusButton()" ><i class="fa fa-calendar-minus-o fa-lg"></i></button>
    </td> 
    <td style="width:30%">
      <input  class="form-control" style="float:none" value="{{displayArea}}" style="background-color: #FFFFFF;  " readonly />
    </td>  
    <td>
      <button class="btn btn-primary" (click)="plusButton()"><i class="fa fa-calendar-plus-o fa-lg"></i></button>
    </td>
    <td  style="width:35%;padding: 0 5% 0;" >
      <button [disabled]="num == 7" class="btn btn-primary" (click)="weekClick()">Week</button>
      <button [disabled]="num == 1" class="btn btn-primary" (click)="monthClick()">Month</button>
    </td>
  </tr>
</table>
<br>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="animated fadeIn">
          <div class="card" style="position: relative; height:45vh" >
            <div class="card-header">
              Temperature
            </div>
        
            <div class="card-block" >
              <div class="chart-wrapper" >
                <canvas baseChart class="chart" height="400" width="1922" 
                  [datasets]="TempData"
                  [labels]="TempLabels"
                  [options]="optionsLineChart"
                  [chartType]="'line'"
                  [legend]="true"
                  [colors]="tempColour"
                >           
                </canvas>
                <br/>
              </div>
            </div>
          </div>
          <div class="card" style="position: relative; height:45vh">
            <div class="card-header">
              Humidity
            </div>
            <div class="card-block">
              <div class="chart-wrapper">
                <canvas baseChart height="400" width="1922" 
                  [datasets]="HumiData"
                  [labels]="HumiLabels"
                  [options]="optionsLineChart"
                  [chartType]="'line'"
                  [colors]="humiColour">>
                </canvas>
                <br/>
              </div>
            </div>
          </div>
          <div class="card" style="position: relative; height:45vh">
            <div class="card-header">
              Light
            </div>
            <div class="card-block">
              <div class="chart-wrapper">
                <canvas baseChart height="400" width="1922" 
                  [datasets]="LightData"
                  [labels]="LightLabels"
                  [options]="optionsLineChart"
                  [chartType]="'line'"
                  [colors]="lightColour">>
                </canvas>
                <br/>
              </div>
            </div>
          </div> 
          <div class="card"style="position: relative; height:45vh">
            <div class="card-header">
              CO2
            </div>
            <div class="card-block">
              <div class="chart-wrapper">
                <canvas baseChart height="400" width="1922" 
                  [datasets]="CO2Data"
                  [labels]="CO2Labels"
                  [options]="optionsLineChart"
                  [chartType]="'line'"
                  [colors]="co2Colour">>
                </canvas>
                <br/>
              </div>
            </div>
          </div>
        </div>
    </div><!--/.row-->
  </div>
</div> //////////// bootstrap col-
  